<div class="container">
  <div class="row intro">
    <div class="col part d-flex align-items-center justify-content-center">
      <div class="intro-text ">
        <h6>HEADER :)</h6>
      </div>
    </div>

  </div>
  <div class="row main">
    <div class="col-8 part">
      <div class="post">
        <div class="post-title">
          <h5 class="text-center">See the.</h5>
        </div>
        <p class="post-content text-justify">Lorem ipsum dolor sit amet, dicam congue tibique ei vix. Officiis legendos vis et,
          eam ne augue iisque.
          Mel facilis appareat id. Audire aeterno discere mea cu. Ad sit iusto ceteros splendide, usu causae habemus
          neglegentur ad, tractatos consetetur qui at. :)</p>
      </div>
      <div>{{postlist}}</div>
    </div>

    <div class="col-4 part left-section">
      <div class="about-me text-center">
        <img src="./../../assets/images/cute.jpg" class="rounded-circle" width="130px" height="130px">
        <div class="about-me-content text-center">
          <h6 class="left-heading">About me.</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet, dicam congue tibique ei vix. Officiis legendos vis et,
            eam ne augue iisque.
            Mel facilis appareat id. Audire aeterno discere mea cu. Ad sit iusto ceteros splendide, usu causae habemus
            neglegentur ad, tractatos consetetur qui at. :)</p>
        </div>
      </div>

      <div class="latest-posts text-center">
        <h6 class="left-heading">Latest posts.</h6>
        <ul class="text-left">
          <li>Lorem</li>
          <li>dolor sit amet, dicam congue</li>
          <li>neglegentur ad, tractatos consetetur qui at</li>
          <li>facilis appareat</li>
        </ul>
      </div>

      <div class="categories text-center">
        <h6 class="left-heading">Categories.</h6>
        <ul class="text-left">
          <li>Angular</li>
          <li>C#</li>
          <li>CSS</li>
        </ul>
      </div>
    </div>

  </div>
</div>